<div class="BAZ_boutonretour" style="margin-top: 30px;">
  <a class="btn btn-xs btn-secondary-1" href="javascript:history.back()">
    <i class="fas fa-arrow-left"></i>&nbsp;{{ _t('LMS_RETURN_BUTTON') }}
  </a>
</div>