<?php
/**
 * Bazar template to render an Activity entry.
 * This files is copied at installation (cf handlers/page/update__.php) to custom/templates/themes/bazar/templates/
 * directory of the yeswiki root.
 * The filename is fiche-X.tpl.html with X defined by $GLOBALS['wiki']->config['lms_config']['activity_form_id']
 * (by default 1201). If the activity ID change, the installation must be performed again.
 */

use YesWiki\Lms\Controller\CourseController;
use YesWiki\Lms\Service\LearnerManager;

// load js for ajax reactions
$GLOBALS['wiki']->addJavascriptFile('tools/lms/libs/lms.js');

$courseController = $GLOBALS['wiki']->services->get(CourseController::class);
$learnerManager = $GLOBALS['wiki']->services->get(LearnerManager::class);

// the current learner
$learner = $learnerManager->getLearner();
?>

<div class="container lms-container <?php echo ($learner && $learner->isAdmin() ? 'admin-user' : '') ?>">
    <div class="toggle-menu clearfix">
        <a class="btn-menu btn btn-default" data-toggle="collapse" href="#menu-content" title="<?php echo _t('LMS_DISPLAY_MENU'); ?>">
          <span class="fa fa-bars"></span><span class="fas fa-times"></span> <span class="menu-label"><?php echo _t('LMS_DISPLAY_MENU'); ?></span>
        </a>
    </div>
    <div class="row">
        <div class="col-md-3 lms-menu">
            <?php
            // display the PageMenuLms page if it exists
            if ($GLOBALS['wiki']->LoadPage('PageMenuLms')) {
                echo $GLOBALS['wiki']->Format('{{include page="PageMenuLms"}}');
            }
            ?>
        </div>
        <div class="col-md-9 lms-activity-content">
            <?php
            // the consulted course entry
            $course = $courseController->getContextualCourse();
            // the consulted module entry to display the current activity
            $module = $courseController->getContextualModule($course);

            if (!$course || !$module || $module->isAccessibleBy($learner, $course)) {
                $title = '';
                if ($GLOBALS['wiki']->config['lms_config']['display_activity_title'] && !empty($html['bf_titre'])) {
                    if (isset($fiche['bf_titre_affiche'])  && !empty(trim($fiche['bf_titre_affiche']))){
                        $title = '<h1>' . $fiche['bf_titre_affiche'] . '</h1>';
                    } else {
                        $title = '<h1>' . $html['bf_titre'] . '</h1>';
                    }
                }
                $content = !empty($html['bf_contenu']) ? $html['bf_contenu'] : '';
                echo $title . $content;

                if (!empty($html['reactions']) && $course && $module) {
                    echo $html['reactions'];
                }
                if (!empty($html['bf_navigation']) && $course && $module) {
                    echo $html['bf_navigation'];
                }
            } else {
                echo '<div class="alert alert-danger">' . _t('LMS_ACTIVITY_NOT_ACCESSIBLE') . '</div>';
            }
            ?>
        </div>
    </div><!-- /.row -->
</div> <!-- /.container -->
