<?php
/**
 * Bazar template to render a course entry.
 * This files is copied at installation (cf handlers/page/update__.php) to custom/templates/themes/bazar/templates/
 * directory of the yeswiki root.
 * The filename is fiche-X.tpl.html with X defined by $GLOBALS['wiki']->config['lms_config']['course_form_id']
 * (by default 1203). If the course ID change, the installation must be performed again.
 */

use YesWiki\Lms\Controller\CourseController;
use YesWiki\Lms\Service\CourseManager;
use YesWiki\Lms\Service\LearnerManager;

$courseController = $GLOBALS['wiki']->services->get(CourseController::class);
$courseManager = $GLOBALS['wiki']->services->get(CourseManager::class);
$learnerManager = $GLOBALS['wiki']->services->get(LearnerManager::class);

// the current learner
$learner = $learnerManager->getLearner();
?>

<div class="course-container <?php echo ($learner && $learner->isAdmin() ? 'admin-user' : '') ?>">
    <?php
    $course = $courseManager->getCourse($fiche['id_fiche'], $fiche);

    if (!empty($html['bf_titre'])) {
        $content = $html['bf_titre'];
    }
    if (!empty($html['bf_description'])) {
        echo '<div class="course-description">' . $html['bf_description'] . '</div>';
    }
    if (empty($course->getModules())) {
        if ($learner && $learner->isAdmin()) {
            echo '<div class="alert alert-info">' . _t('LMS_ADMIN_NO_MODULES') . '.</div>';
        } else {
            echo '<div class="alert alert-info">' . _t('LMS_NO_MODULES') . '.</div>';
        }
    } else { // Show modules list
        echo '<div class="module-list">' . "\n";

        foreach ($course->getModules() as $module) {
            echo $courseController->renderModuleCard($course, $module);
        }
        echo '</div> <!-- end .module-list -->' . "\n";
    }
    if ($learner && $learner->isAdmin()) : ?>
        <div class="admin-infos well">
            <h3><?php echo _t('LMS_RESERVED_FOR_ADMINS'); ?></h3>
            <p><strong><?php echo _t('LMS_ACTIVITY_SCENARISATION'); ?></strong>
                : <?php echo $course->getField('listeListeOuinonLmsbf_scenarisation_activites'); ?></p>
            <p><strong><?php echo _t('LMS_MODULE_SCENARISATION'); ?></strong>
                : <?php echo $course->getField('listeListeOuinonLmsbf_scenarisation_modules'); ?></p>
            <div class="dashboard-launch">
                <a href="<?php echo $GLOBALS['wiki']->href(null, 'ProgressDashboard',
                    ['parcours' => $course->getTag()]) ?>"
                   class="btn btn-secondary-2 btn-large">
                    <i class="fas fa-chart-bar"></i><?php echo _t('LMS_VIEW_PROGRESS_DASHBOARD') ?>
                </a>
            </div>
        </div>
    <?php endif; ?>
</div> <!-- /.course-container -->