<?php
/**
 * Bazar template to render a course entry.
 * This files is copied at installation (cf handlers/page/update__.php) to custom/templates/themes/bazar/templates/
 * directory of the yeswiki root.
 * The filename is fiche-X.tpl.html with X defined by $GLOBALS['wiki']->config['lms_config']['course_form_id']
 * (by default 1203). If the course ID change, the installation must be performed again.
 */

use YesWiki\Bazar\Service\EntryManager;
use YesWiki\Core\Service\TemplateEngine;
use YesWiki\Lms\Controller\CourseController;
use YesWiki\Lms\Course;
use YesWiki\Lms\Service\LearnerManager;

$courseController = $GLOBALS['wiki']->services->get(CourseController::class);
$entryManager = $GLOBALS['wiki']->services->get(EntryManager::class);
$learnerManager = $GLOBALS['wiki']->services->get(LearnerManager::class);

// the current learner
$learner = $learnerManager->getLearner();

echo '<div class="course-container' . ($learner && $learner->isAdmin() ? ' admin-user' : '') . '">';

if ($fiche && intval($fiche['id_typeannonce']) == $GLOBALS['wiki']->config['lms_config']['course_form_id']) {
    // no use of $courseManager->getCourse because sometimes the entry isn't in the db (for importation preview per example)
    $course = new Course($GLOBALS['wiki']->config, $entryManager, $fiche['id_fiche'], $fiche);

    if (!empty($html['bf_titre'])) {
        echo '<h1 class="course-title">' . $html['bf_titre'] . '</h1>';
    }
    if (!empty($html['bf_description'])) {
        echo '<div class="course-description">' . $html['bf_description'] . '</div>';
    }
    if (empty($course->getModules())) {
        if ($learner && $learner->isAdmin()) {
            echo '<div class="alert alert-info">' . _t('LMS_ADMIN_NO_MODULES') . '.</div>';
        } else {
            echo '<div class="alert alert-info">' . _t('LMS_NO_MODULES') . '.</div>';
        }
    } else { // Show modules list
        echo '<div class="module-list">' . "\n";

        foreach ($course->getModules() as $module) {
            echo $courseController->renderModuleCard($course, $module);
        }
        echo '</div> <!-- end .module-list -->' . "\n";
    }
    if ($learner && $learner->isAdmin()) {
        echo '<div class="admin-infos well">
            <h3>' . _t('LMS_RESERVED_FOR_ADMINS') . '</h3>
            <p><strong>' . _t('LMS_ACTIVITY_SCENARISATION') . '</strong>
                : ' . $course->getField('listeListeOuinonLmsbf_scenarisation_activites') . '</p>
            <p><strong>' . _t('LMS_MODULE_SCENARISATION') . '</strong>
                : ' . $course->getField('listeListeOuinonLmsbf_scenarisation_modules') . '</p>
            <div class="dashboard-launch">
                <a href="' . $GLOBALS['wiki']->href(null, 'ProgressDashboard',
                ['course' => $course->getTag()]) . '" class="btn btn-secondary-2 btn-large">
                    <i class="fas fa-chart-bar"></i>' . _t('LMS_VIEW_PROGRESS_DASHBOARD') . '
                </a>
            </div>
        </div>';
    }
}
echo '</div> <!-- /.course-container -->';