.activity-navigation-conditions-helper {
  float: right;
  border-color: var(--primary-color);
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  padding: 5px;
  margin-right: 5px;
}

.activity-navigation-conditions-helper.no-border {
  border-style: none;
}

.activity-navigation-view-icon {
  flex-grow: 0;
  cursor:initial;
  float:left;
}