<h3 class="dashboard-course course-back">
    <a href="{{ url({params: {course: course.tag,module: module} }) }}"
       title="{{ _t('LMS_BACK_TO_PROGRESSES_DASH_BOARD') }}">
        <i class="far fa-arrow-alt-circle-left"></i> {{ _t('LMS_BACK_TO_PROGRESSES_DASH_BOARD') }}
    </a>
</h3>