<?php
// if an handler is after the page tag in the wiki parameter variable, get only the tag
$currentPage =  isset($_GET['wiki']) ?
strpos($_GET['wiki'], '/') ? substr($_GET['wiki'], 0, strpos($_GET['wiki'], '/')) : $_GET['wiki'] :
'';

if ($GLOBALS['wiki']->config['lms_config']['use_tabs']) {
  if ($currentPage != $currentModule->getTag()) {
    // if a number is at the end of the page tag, it means that it's a tab page corresponding to the page without the number
    // thus, to associate this tab page to its parent one, we remove the number from the page tag
    $currentPage = preg_replace('/[0-9]*$/', '', $currentPage);
  }
}

// display the modules only if the current module is in the modules displayed
$currentModuleInModules = !empty(array_filter(
          $modulesDisplayed,
          function ($item) use ($currentModule) {
            return $item->getTag() && $currentModule->getTag() && $item->getTag() == $currentModule->getTag();
          }));
?>
<?php if ($currentModule && $currentModuleInModules) :?>
  <?php foreach ($modulesDisplayed as $module) :?>
    <div class="panel-group panel-group-menu-lms" role="tablist">
      <div class="panel panel-primary panel-menu-lms">
          <div class="panel-heading<?php echo ($currentPage == $module->getTag())? ' active' : ''; ?>">
              <h4 class="panel-title">
                  <a href="<?php echo $GLOBALS['wiki']->href('', $module->getTag(), ['parcours' => $course->getTag()]); ?>" class="bazar-entry"><?php echo $module->getField('bf_titre'); ?></a>
              </h4>
          </div>
          <?php if ($currentModule && $currentModule->getTag() == $module->getTag() &&
                      ($GLOBALS['wiki']->UserIsAdmin() || $currentModule->getField('listeListeOuinonLmsbf_actif') == 'oui')) :?>
          <div class="panel-collapse">
              <ul class="list-group">
                  <?php
                  foreach ($currentModule->getActivities() as $activity) {
                      // TODO see for additionnal checking as $activity->getTag() == $GLOBALS['wiki']->config['lms_config']['activity_form_id'])
                      echo '<li class="list-group-item' . ($currentPage == $activity->getTag() ? ' active' : '') . '">';
                      echo '<a href="' . $GLOBALS['wiki']->href('', $activity->getTag(), ['parcours' => $course->getTag(), 'module' => $module->getTag()]) . '">' . $activity->getField('bf_titre') . '</a>';
                      echo '</li>';
                  }
                  ?>
              </ul>
          </div>
          <?php endif ?>
      </div>
    </div>
  <?php endforeach; ?>
<?php endif ?>
